.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo-img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.nav {
    background-color: var(--white);
    padding: 1rem 2.5rem;
    border-radius: 9999px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 6rem;
    font-weight: 600;
    align-items: center;
}

.dark-mode .nav {
    background-color: rgba(18, 45, 66, 0.9); 
    border: 2px solid var(--dark-mode-green);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 4px 15px rgba(0, 0, 0, 0.3);
  }

.nav a{
    text-decoration: none;
    color: var(--light-txt-color);
    font-weight: 600;
    transition: color 0.3s;
}

.dark-mode .nav a{
    color: var(--dark-mode-green);
}   

.nav a:hover {
    color: var(--light-blue);
}

.dark-mode .nav a:hover{
    color: var(--white);
}  

.dark-mode-toggle{
    background-color: var(--white);
    padding: 1rem 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dark-mode-toggle:hover {
    background-color: var(--light-blue);
    color: var(--white);
}

.dark-mode .dark-mode-toggle{
    background-color: rgba(18, 45, 66, 0.9);
    border: 2px solid var(--dark-mode-green);
    color: var(--white);
}