.game-complete-container {
  padding: 2rem;
  text-align: center;
  max-width: 900px;
  margin: auto;
  background:  #fefefe;
  border-radius: 25px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.dark-mode .game-complete-container {
  background: linear-gradient(to bottom, #0d1f29, #1a2e3c);
  color: var(--white);
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.05),
              2px 4px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid #243744;
}

.stats-box,
.achievement-box {
  background-color: #f7f7f7;
  padding: 0.8rem;
  border-radius: 16px;
  margin: 1.2rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.dark-mode .stats-box {
  background-color: #1b353d;
  color: #ffffff;
  border: 1px solid #2e4a55;
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.05),
              2px 4px 10px rgba(0, 0, 0, 0.4);
}


.stats-box p{
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.complete-buttons {
  margin-top: 1.4rem;
}

.complete-buttons button {
  margin: 0.4rem;
  padding: 0.50rem 1.1rem;
  border: 1px solid var(--light-blue);
  border-radius: 8px;
  background-color: var(--white);
  color: var(--black);
  font-weight: bold;
  cursor: pointer;
  width: 250px;
  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.complete-buttons button:hover {
  background-color: var(--black);
  color: var(--white);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.dark-mode .complete-buttons button {
  background-color: #1b2e39;;
  color: var(--pure-white);
  border: 1px solid #2e4a55;
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.05),
              2px 4px 10px rgba(0, 0, 0, 0.4);
}

.dark-mode .complete-buttons button:hover {
  background-color: var(--white);
  color: var(--dark-mode-blue) ;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* .achievement-box {
  margin-top: 0.8rem;
  background-color: #fff8dc;
  padding: 1rem;
  border-radius: 10px;
  color: #333;
  font-size: 1.1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
} */

.achievement-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.achievement-item {
  display: flex;
  align-items: center;
  margin: 0.9rem 0;
}

.achievement-emoji {
  font-size: 1.8rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.achievement-text {
  text-align: left;
}

.achievement-title {
  font-weight: bold;
  font-size: 1rem;
  color: #111;
}

.achievement-desc {
  font-size: 0.90rem;
  color: #555;
}

.dark-mode .achievement-title {
  color: #fff;
}

.dark-mode .achievement-desc {
  color: #ccc;
}

.dark-mode .achievement-box {
  background-color: #1b2e39;
  color: var(--white);
  border: 1px solid #324f5c;
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.05),
              2px 4px 10px rgba(0, 0, 0, 0.4);
}

